/*MEDIAS*/

/*TABLET ONLY*/
@media (min-width: 992px) and (max-width: 1182px) {
    .container-fluid {
        flex-direction: column;
    }
}

/*TABLET TO MOBILE*/
@media (max-width: 1182px) {

    .main {
        padding: 20px;
    }
    .main__contenedor {
        flex-direction: column;
    }

    .main__parrafo {
        width: 100%;
        padding-right: 0px;
    }

    .main__carousel {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        margin-bottom: 24px;
        margin-right: 0px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .contacto-titulo {
        width: 100%;
    }

    .contenedor_padre_footer {
        align-items: center;
    }
}

/*MOBILE*/
@media (max-width: 991px) {
    .nav-item {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .carousel__parrafo,
    .foto-contacto {
        display: none;
    }

    .main-formulario {
        justify-content: center;
    }

    .requisitos-detalles {
        flex-direction: column;
    }

    .contenedor-historia {
        padding: 24px;
    }

    .requisitos-minimos, .requisitos-optimos {
        width: 100%;
    }

    .imagenes-multimedia__imagen {
        max-width: 100%;
    }

    .campo {
        width: 100%;
    }

    .botonEnviar {
        width: 100%;
    }

    .footer__div {
        padding-bottom: 0px;
    }

    .contenedor_padre_footer {
        flex-direction: column;    
    }

    .contenedor__img_footer {
        display: flex;
        justify-content: center;
    }

    .footer__texto {
        padding-top: 12px;
    }
}